<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="col-md-10 col-md-offset-1">
  <div>

    <nav class="navbar navbar-default navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Capitalizarh</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right" >
          <li><a href="#/admin/banner"><span class="glyphicon glyphicon-list"></span> Listar banner </a></li>
          <li><a href="#/admin/servicio"><span class="glyphicon glyphicon-list"></span> Listar Servicios </a></li>
          <li><a href="#/create/servicio"><span class="glyphicon glyphicon-list"></span> Crear Servicios </a></li>
          <li><a href="#/admin/institucion"><span class="glyphicon glyphicon-list"></span> Listar Instituciones </a></li>
          <li><a href="#/create/institucion"><span class="glyphicon glyphicon-list"></span> Crear Instituciones </a></li>
          <li><a href="#/admin"><span class="glyphicon glyphicon-list"></span> Listar Eventos </a></li>
          <li><a href="#/create"><span class="glyphicon glyphicon-list"></span> Crear Evento </a></li>
          <li><a href="#/login"><span class="glyphicon glyphicon-list"></span> Salir </a></li>
        </ul>
      </div>
    </nav>

  </div>

  <div>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Numero de Banner</th>
          <th>Nombre del Banner</th>
          <th>Editar Banner</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="banner in banners | orderBy:'_id' ">
          <td>{{$index + 1}}</td>
          <td>{{banner.nombre}}</td>
          <td><a href="#/admin/banner/{{banner._id}}">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
