
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<!--IPHONE META TAG FOR VIEWPORT, MAINTAINING SCALE ON ORIENTATION CHANGE-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!-- Si quieres que Google utilice la información de tu página HTML-->
<meta name="robots" content="NOODP"/>


<title>CAPITALIZARH</title>

<meta content="Nombre del Autor" name="author" />
<meta content="Descripcion de la pagina" name="description" />
<meta content="etiqueta1, etiqueta2, etiqueta3" name="keywords" />

<!--STYLES CSS -->


<!--FAVICON -->
<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

<!-- GOOGLE-FONTS -->


<!--JAVA BASE -->

<!-- Script para ahorrarse los vendor prefix en CSS-->
   <script src="prefixfree.min.js"></script>

  <!-- End WOWSlider.com HEAD section -->
<!--estilos para SELECT
<script type="text/javascript" src="jquery.customSelect.js"></script>
<script type="text/javascript">
$(function(){
$('select.styled').customSelect();
});
</script>-->



<div id="wrapper">


  <div id="contacto">
    <p class="contacto">Contactate con nosotros</p>

    <table width="600" border="0" cellspacing="30" align="center">
      <tbody>
    <tr>
      <td align="center"><p class="contacto-nombres">Leila Gudi&ntilde;o</p>
        <p>Coordinadora de Medios Digitales</p>
        <p><a href="mailto:lele@capitalizarh.com" title="lele@capitalizarh.com" target="_blank">lele@capitalizarh.com</a></p>
        <p> (261) 537 5054</p>
        <p>&nbsp;</p></td>
      <td align="center"><p class="contacto-nombres">Mart&iacute;n Perez<br>
      </p>
        <p>Coordinador Comercial</p>
        <p><a href="mailto: martín@capitalizarh.com" title=" martín@capitalizarh.com" target="_blank"> martín@capitalizarh.com</a></p>
        <p> (261) 553 5720</p>
        <p>&nbsp;</p></td>
      <td align="center"><p class="contacto-nombres">Sergio Ojea</p>
        <p>Coordinador Comercial</p>
        <p><a href="mailto:sergio@capitalizarh.com" title="sergio@capitalizarh.com" target="_blank">sergio@capitalizarh.com</a></p>
        <p> (261) 556 2724</p>
        <p>&nbsp;</p></td>
    </tr>
  </tbody>
</table>

  </div>

  <div id="sociales">
    <div id="sociales-int"><img src="images/somos-sociales-fb.png" alt="redes sociales" width="744" height="46" usemap="#Map"/>
      <map name="Map">
        <area shape="rect" coords="541,2,598,41" href="#" target="_blank" alt="Facebook">
        <area shape="rect" coords="606,-4,657,40" href="#" target="_blank" alt="twitter">
        <area shape="rect" coords="666,-1,717,44" href="#" target="_blank" alt="linked in">
      </map>
    </div>
  </div>
  <div id="linea"></div>


<footer>
  <div id="footer-logos">
    <ul>
        <li><a href="#/home"><img src="images/logo.png" height="44" alt="capitalizaRH" title="capitalizaRH"></a></li>
    </ul>
  </div>
  <div id="footer-nav">COPYRIGHT &copy; 2014 CAPITALIZARH  |  <a href="mailto:CONECTARME@capitalizarh.com" title="CONECTARME@capitalizarh.com" target="_blank">CONECTARME@CAPITALIZARH.COM</a></div>
</footer>

</div>
