<!-- BOOTSTRAP-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="col-md-10 col-md-offset-1">

    <div>
        <nav class="navbar navbar-default navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Capitalizarh</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right" align="center">
                    <li><a href="#/admin/banner"><span class="glyphicon glyphicon-list"></span> Listar banner </a></li>
                    <li><a href="#/admin/servicio"><span class="glyphicon glyphicon-list"></span> Listar Servicios </a></li>
                    <li><a href="#/create/servicio"><span class="glyphicon glyphicon-list"></span> Crear Servicios </a></li>
                    <li><a href="#/admin/institucion"><span class="glyphicon glyphicon-list"></span> Listar Instituciones </a></li>
                    <li><a href="#/create/institucion"><span class="glyphicon glyphicon-list"></span> Crear Instituciones </a></li>
                    <li><a href="#/admin"><span class="glyphicon glyphicon-list"></span> Listar Eventos </a></li>
                    <li><a href="#/create"><span class="glyphicon glyphicon-list"></span> Crear Evento </a></li>
                    <li><a href="#/login"><span class="glyphicon glyphicon-list"></span> Salir </a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="col-md-4 col-md-offset-4">

        <form role="form" ng-submit="createServicio()">

            <div class="form-input">
                Tipo de servicio
                <select id="inputTipo" class="form-control" ng-model="servicio.tipo"
                        ng-options="tipo.nombre as tipo.nombre for tipo in tiposServicios.data">
                </select>
            </div>
            <br>
            <div class="form-input">
                Nombre
                <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo" ng-model="servicio.nombre">
            </div>
            <br>
            <div class="form-input">
                Calle
                <input type="text" class="form-control" id="calle" ng-model="servicio.calle">
            </div>
            <br>
            <div class="form-input">
                Numero
                <input type="number" class="form-control" id="numero" ng-model="servicio.numero">
            </div>
            <br>
            <div class="form-input">
                Departamento
                <select id="sel" class="form-control" ng-model="servicio.departamento"
                        ng-options="departamento.nombre as departamento.nombre for departamento in departamentos.data">
                </select>
            </div>
            <br>
            <div class="form-input">
                Web
                <input type="text" class="form-control" id="inputWeb" placeholder="Web" ng-model="servicio.web">
            </div>
            <br>
            <div class="form-input">
                Telefono
                <input type="text" class="form-control" id="inputTelefono" placeholder="Telefono" ng-model="servicio.telefono">
            </div>
            <br>
            <div class="form-input">
                Facebook
                <input type="text" class="form-control" id="facebook" ng-model="servicio.facebook">
            </div>
            <br>
            <div class="form-input">
                Twitter
                <input type="text" class="form-control" id="twiter" ng-model="servicio.twiter">
            </div>
            <br>
            <div class="form-input">
            Seleccione el logo
            <input type="file" name="file" id="file" sube-archivo="servicio.logo" style="border:2px solid #F0FFFF;border-radius:20px;box-shadow:2px 2px #808080, -2px -2px #D3D3D3;color:#3A87AD;" />
              <ul>
                  <li class="span4">
                      <div class="thumbnail" style="display:table;height:75px;margin-top:5px;">
                          <img ng-src="{{servicio.logo}}" alt="" style="height:75px;border:1px solid #000;display: block;"/>
                      </div>
                  </li>
              </ul>
            </div>
            <div class="form-input col-md-offset-4">
                <button type="submit" class="btn btn-primary">Editar Servicio</button>
            </div>
        </form>

    </div>


</div>
