<!-- BOOTSTRAP-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="col-md-10 col-md-offset-1">

    <div>
        <nav class="navbar navbar-default navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Capitalizarh</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right" align="center">
                    <li><a href="#/admin/banner"><span class="glyphicon glyphicon-list"></span> Listar banner </a></li>
                    <li><a href="#/admin/servicio"><span class="glyphicon glyphicon-list"></span> Listar Servicios </a></li>
                    <li><a href="#/create/servicio"><span class="glyphicon glyphicon-list"></span> Crear Servicios </a></li>
                    <li><a href="#/admin/institucion"><span class="glyphicon glyphicon-list"></span> Listar Instituciones </a></li>
                    <li><a href="#/create/institucion"><span class="glyphicon glyphicon-list"></span> Crear Instituciones </a></li>
                    <li><a href="#/admin"><span class="glyphicon glyphicon-list"></span> Listar Eventos </a></li>
                    <li><a href="#/create"><span class="glyphicon glyphicon-list"></span> Crear Evento </a></li>
                    <li><a href="#/login"><span class="glyphicon glyphicon-list"></span> Salir </a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="col-md-4 col-md-offset-4">

        <form role="form" ng-submit="createPost()">

            <div class="form-input">
                Tipo de Curso
                <select id="inputTipo" class="form-control" ng-model="post.tipo"
                        ng-options="tipo.nombre as tipo.nombre for tipo in tipos.data">
                </select>
            </div>
            <br>

            <div ng-if  ="post.tipo == 'Postgrados - Maestrias'">
              <div class="form-input" >
                Sub-Tipo
                <select id="inputtiposMaestria" class="form-control" ng-model="post.subtipo"
                ng-options="tiposMaestria.nombre as tiposMaestria.nombre for tiposMaestria in tiposMaestrias.data">
              </select>
            </div>
            </div>

            <div ng-if  = "post.tipo == 'Carreras de Grado'">
              <div class="form-input" >
                Sub-Tipo
                <select id="inputtiposGrado" class="form-control" ng-model="post.subtipo"
                  ng-options="tiposGrado.nombre as tiposGrado.nombre for tiposGrado in tiposGrados.data">
                </select>
              </div>
              <br>
            </div>

            <div class="form-input">
                Titulo
                <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo" ng-model="post.titulo">
            </div>
            <br>
            <div class="form-input">
                Epigrafe
                <input type="text" class="form-control" id="inputEpigrafe" placeholder="Epigrafe" ng-model="post.epigrafe">
            </div>
            <br>
            <div class="form-input">
                Descripcion
                <textarea class="form-control" id="inputDescripcion" rows="4" placeholder="Descripcion" ng-model="post.descripcion"></textarea>
            </div>
            <br>
            <div class="form-input">
                Inicio
                <input type="date" class="form-control" id="inputInicio"  min="2014-10-01" max="2015-12-31" ng-model="post.inicio">
            </div>
            <br>
            <div class="form-input">
                Duracion
                <input type="text" class="form-control" id="inputDuracion" placeholder="Duracion" ng-model="post.duracion">
            </div>
            <br>
            <div class="form-input">
                Hora Inicio
                <input type="text" class="form-control" id="horainicio" placeholder="Hora Inicio" ng-model="post.horainicio">
            </div>
            <br>
            <div class="form-input">
                Hora Fin
                <input type="text" class="form-control" id="horafin" placeholder="Hora Fin" ng-model="post.horafin">
            </div>
            <br>
            <div class="form-input">
                Valor
                <input type="number" class="form-control" id="valor" ng-model="post.valor">
            </div>
            <br>
            <div class="form-input">
                Institucion donde se dicta
                <select id="institucion" class="form-control" ng-model="post.institucion"
                        ng-options="institucion as institucion.nombre for institucion in instituciones.instituciones">
                </select>
            </div>
            <br>
            <div class="form-input">
                Facebook
                <input type="text" class="form-control" id="facebook" ng-model="post.facebook">
            </div>
            <br>
            <div class="form-input">
                Twitter
                <input type="text" class="form-control" id="twiter" ng-model="post.twiter">
            </div>
            <br>
            <div class="form-input">
                LinkedIn
                <input type="text" class="form-control" id="linkedin" ng-model="post.linkedin">
            </div>
            <br>
            <div class="form-input">
                Ultimos Cupos
                <input type="checkbox" class="form-control" id="ultimos_cupos" ng-model="post.ultimos_cupos">
            </div>
            <br>
            <div class="form-input">
              Mapa
              <input type="text" class="form-control" id="mapa" ng-model="post.mapa">
            </div>
            <br>
            <div class="form-input">
                Seleccione una Imagen
                <input type="file" name="file" id="file" sube-archivo="post.foto" style="border:2px solid #F0FFFF;border-radius:20px;box-shadow:2px 2px #808080, -2px -2px #D3D3D3;color:#3A87AD;" />
                <ul>
                    <li class="span4">
                        <div class="thumbnail" style="display:table;height:75px;margin-top:5px;">
                            <img ng-src="{{post.foto}}" alt="" style="height:75px;border:1px solid #000;display: block;"/>
                        </div>
                    </li>
                </ul>
            </div>

            <br>
            <div class="form-input col-md-offset-5">
                <button type="submit" class="btn btn-primary">Crear Curso</button>
            </div>
        </form>

    </div>


</div>
