
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<!--IPHONE META TAG FOR VIEWPORT, MAINTAINING SCALE ON ORIENTATION CHANGE-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!-- Si quieres que Google utilice la información de tu página HTML-->
<meta name="robots" content="NOODP"/>


<title>CAPITALIZARH</title>

<meta content="Nombre del Autor" name="author" />
<meta content="Descripcion de la pagina" name="description" />
<meta content="etiqueta1, etiqueta2, etiqueta3" name="keywords" />

<!--FAVICON -->
<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />


<!-- Script para ahorrarse los vendor prefix en CSS-->
   <script src="prefixfree.min.js"></script>

  <!-- End WOWSlider.com HEAD section -->
<!--estilos para SELECT
<script type="text/javascript" src="jquery.customSelect.js"></script>
<script type="text/javascript">
$(function(){
$('select.styled').customSelect();
});
</script>-->

<div id="slider"><img src="images/instituciones.jpg" width="100%"  alt="instituciones"/>  </div>

</div>
<div id="wrapper">

<section>
  <div id="info">
  <div id="info-vacio"></div>

  </div>
  <div id="curso">
     <p>
       <h8>Instituciones acad&eacute;micas     </h8>
        <h7 ng-if="!tipoActual">Todos</h7>
        <h7> {{tipoActual}}</h7>
     </p>
<div id="linea"></div>
  </div>

  </section>
  <section>
  <div id="info">

    <div id="info-curso"  ng-repeat="tipoInstitucion in tiposInstituciones.data">
      <a href="#/instituciones/{{tipoInstitucion.nombre}}"><p>{{tipoInstitucion.nombre}}</p></a>
    </div>

    <div id="info-curso">
      <a href="#/instituciones/Todos"><p>Todos</p></a>
    </div>

  </div>
  <div id="universidades">

    <div id="universidades-modulo" ng-repeat="institucion in instituciones | filter: { tipo : tipoActual} ">
      <div id="universidades-info">
        <img ng-src="{{institucion.logo}}"  width="40" height="30" alt=""/>
        <p class="univ-titles">{{institucion.nombre}}</p>
        <p>{{institucion.calle}} al {{institucion.numero}}, {{institucion.departamento}}  |  <a href="http://{{institucion.web}}" title="{{institucion.web}}" target="_blank">{{institucion.web}}</a> |  {{institucion.telefono}}</p>

      </div>
      <div id="universidades-redes">
        <ul>
          <li><a href="http://{{institucion.facebook}}"><img src="images/fb-instituciones.png" width="29" height="29" alt=""/></a></li>
          <li><a href="http://{{institucion.twiter}}"><img src="images/tw-instituciones.png" width="30" height="29" alt=""/></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>


  <div id="linea"></div>


<footer>
  <div id="footer-logos">
    <ul>
      <li><a href="#/home"><img src="images/logo.png" height="44" alt="capitalizaRH" title="capitalizaRH"></a></li>
    </ul>
  </div>
  <div id="footer-nav">COPYRIGHT &copy; 2014 CAPITALIZARH  |  <a href="mailto:CONECTARME@capitalizarh.com" title="CONECTARME@capitalizarh.com" target="_blank">CONECTARME@CAPITALIZARH.COM</a></div>
</footer>

</div>
